<!doctype html>
<html lang="en">
<head>
  <style>
.je-indented-panel {
  width: 300px;
}
  </style>
</head>
<body>
  {{ form.media }}
  <div id='{{name}}_editor'></div>
  <form action="" method="POST" >
    {% csrf_token %}
    <div>
      <textarea readonly name="jsondata" cols="40" rows="10" id="id_{{name}}"></textarea>
    </div>
  </form>
<script>
var container = document.getElementById('{{name}}_editor'); 
var defaultOptions={{options|safe}};
var options = {
    disable_collapse: defaultOptions['disable_collapse'],
    disable_edit_json: defaultOptions['disable_edit_json'],
    form_name_root:defaultOptions['form_name_root'],
    schema: defaultOptions['schema']['default']['schema']
  }
let editor = new JSONEditor(container, options);
const initJsoneditor = () => {
  if (editor) {
    editor.destroy()
  }
}
function changetextarea(){
  editor.on('change',() => {
    schema=editor.getValue()
    document.getElementById("id_{{name}}").innerHTML=JSON.stringify(schema, null, ' ');
  });  
}
changetextarea();
document.getElementById("id_{{chain_field}}").setAttribute("onchange", "myFunction()");
function myFunction() {
  initJsoneditor()
  var x = document.getElementById("id_{{chain_field}}").value;
  var options = {
    disable_collapse: defaultOptions['disable_collapse'],
    disable_edit_json: defaultOptions['disable_edit_json'],
    form_name_root:defaultOptions['form_name_root'],
    schema: defaultOptions['schema'][x]['schema']
  }
  editor = new JSONEditor(container, options);
  changetextarea();
}
{% if  value %}
var val = {{value|safe}}
editor.setValue(val); 
{% endif %}
</script>
</body>
</html>
