<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <title>urlshortner</title>
</head>

<body>

  <h1 class="text-center my-5">Url shortner</h1>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <form action="/" method="POST">
        {% csrf_token %} 
          <div class="form-group">
            <label for="url">URL</label>
            <input type="text" class="form-control" name="url" id="url"  placeholder="Enter Url">
           
             
          </div>


<script type="text/javascript">
  function EnableDisableTextBox(chkshort) {
      var shortnerurl = document.getElementById("shortnerurl");
      shortnerurl.disabled = chkshort.checked ? false: true;
      if (!shortnerurl.disabled) {
          shortnerurl.focus();
      }
  }
</script>
<label for="chk">
  <input type="checkbox" id="chkshort" onclick="EnableDisableTextBox(this)" />
  Do you want to Custom Short URl?
</label>
<br />
<label for="shortnerurl">Short Url:</label>
<input type="text" id="shortnerurl" name="shortnerurl" value="{{x}}">
          <p>
          <p>
          <input type="submit" class="btn btn-primary" value="Submit">
          <br>
          <br>
          
         
         

          <a href="search">Search</a>
          <br>
          <br>
          <h2>{{e}}</h2>
        </form>
      </div>
    </div>
  </div>

</body>

</html>
