<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
  <title></title>
</head>

<body> 
  {{ form.media }}
  
  <div id='{{name}}_editor'></div>
  <form action="" method="POST" >
    {% csrf_token %}
  <div>
    <textarea readonly name="jsondata" cols="40" rows="10" id="id_{{name}}"></textarea>
  </div>
  </form>
  <script>
    
    var container = document.getElementById('{{name}}_editor'); 
    var defaultOptions={{options|safe}};
    let editor = new JSONEditor(container,defaultOptions['schema']['DEFAULT_SECHMA']);
    
    const initJsoneditor = () => {
      if (editor) {
        editor.destroy()
      }
    }
    function changetextarea(){
      editor.on('change',() => {
      schema=editor.getValue()
      document.getElementById("id_{{name}}").innerHTML=JSON.stringify(schema, null, ' ');
    });
  }
    changetextarea();
    initJsoneditor()
    var x = document.getElementById("id_{{chain_field}}").value;
    if (x == "Facebook") {
      editor = new JSONEditor(container,defaultOptions['schema']['Facebook']);
      changetextarea()
    }
    else if(x == "CustomPixel") {
      editor = new JSONEditor(container, defaultOptions['schema']['CustomPixel']);
      changetextarea()
    }
    else{
      editor = new JSONEditor(container,defaultOptions['schema']['DEFAULT_SECHMA']);
      changetextarea()
    } 
  
    
    {% if  value %}
      var val = {{value|safe}}
      editor.setValue(val);
      
    {% endif %}
    
    
// function myFunction() {

// initJsoneditor()

// if (x == "Gemini") {
//   editor = new JSONEditor(element, Gemini);
//   changetextarea()     
// }

// else if(x == "Facebook") {
//   editor = new JSONEditor(element, Facebook);
//   changetextarea()
// }

// else{
//   editor = new JSONEditor(element, defaultOption);
//   changetextarea() 
// } 

// }
//     const element = document.getElementById('editor_holder');
    

//     const editor = new JSONEditor(element, options);
//     document.getElementById('submit').addEventListener('click',function() {
//       console.log(editor.getValue());
//     });   
  </script>
  
</body>
</html>