<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>

  </head>
  <style>
  div.je-object__container {
    float: left;
    width: 100% !important;
    margin-bottom: 10px;
    }
  </style>
  <body>
    {{ form.media }}
    <div id='{{name}}_editor'></div>
    <form action="" method="POST" >
      <div>
        <textarea readonly name="jsondata" cols="40" rows="10" id="id_{{name}}"></textarea>
      </div>
    </form>
  </body>
  <script>
    var container = document.getElementById('{{name}}_editor'); 
    var defaultOptions={{options|safe}};
    const editor = new JSONEditor(container, defaultOptions);
    editor.on('change',() => {
      schema=editor.getValue()
      document.getElementById("id_{{name}}").innerHTML=JSON.stringify(schema, null, ' ');
    });
    {% if  value %}
      var val = {{value|safe}}
      editor.setValue(val);
      
    {% endif %}
  </script>
</html>
