<!DOCTYPE html>
<html lang="en">
    <head>
      <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
        <meta charset="utf-8">
        <title></title>
    </head>  
  <body>
    {{ form.media }} 
    <div id='editor_holder'></div>
    <form action="/message1" method="POST"> 
      {% csrf_token %}
      <div>
        {{form.as_p}} 
        <input type="submit"/>
      </div>
    </form>
    <select id="mySelect" onchange="myFunction()">
      <option value="option1">option</option>
      <option value="Facebook">Facebook</option>
      <option value="Gemini">Gemini</option>
    </select>  
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
     
    var element = document.getElementById('editor_holder');
    
    var option1 = {
      schema: {
        options: {
          "disable_collapse": true,
         // "disable_edit_json": true,
          "remove_empty_properties": true,
        },
        type: "object",
        title:"option1",
        properties: {
          "access_token": {"type": "string",'expand_height':true},
          "developer_token": {"type": "string"},
          "client_cutomer_id": {"type":"integer","format":"number"},
          "conversion_value": {"type":"integer","format":"number","infoText": "Your full name"},
          "client_id":{"type":"string"}, 
        },
        defaultProperties: ["access_token"]
      }
    }

    var Facebook = {
      
      schema: {
        options: {
          "disable_collapse": true,
          // disable_edit_json": true,
          "remove_empty_properties": true,
          "no_additional_properties": true
          
        },
        type: "object",
        title:"Facebook",
        properties: {
          "access_token": {"type": "string",'expand_height':true},
          "developer_token": {"type": "string"},
          "client_cutomer_id": {"type":"integer","format":"number"},
          "conversion_value": {"type":"integer","format":"number","infoText": "Your full name"},
          "client_id":{"type":"string"}, 
        },
        defaultProperties: ["access_token"]
      }
    }

    var Gemini = {
      
      schema: {
        options: {
          "disable_collapse": true,
          // "disable_edit_json": true,
          "remove_empty_properties": true,
          
        },
        type: "object",
        title:"Gemini",
        properties: {
          "client_cutomer_id": {"type":"integer","format":"number"},
          "conversion_value": {"type":"integer","format":"number","infoText": "Your full name"},
          "client_id":{"type":"string"}, 
        },
        defaultProperties: ["client_id"]
      }
      

    }
    console.log("start.......")
    var editor = new JSONEditor(element, option1);
    editor.on('change',() => {
      var mydata = document.getElementsByClassName("je-textarea je-edit-json--textarea")[0];
      document.getElementById("id_mydata").innerHTML =JSON.stringify(mydata);
  });
    console.log("after default initi.......")
    const initJsoneditor = () => {
      console.log(editor);
        if (editor) {
          editor.destroy()
        }
    }
    
    function myFunction() {
      editor.on('change',() => {
      var mydata = document.getElementsByClassName("je-textarea je-edit-json--textarea")[0];
      document.getElementById("id_mydata").innerHTML =JSON.stringify(mydata);
  });
      initJsoneditor()
      var x = document.getElementById("mySelect").value;
      
      if (x == "Gemini") {
        editor = new JSONEditor(element,Gemini);
      }
      else if(x == "Facebook") {
        editor = new JSONEditor(element, Facebook);
      }
      else{
        editor = new JSONEditor(element,option1);
        
      } 
    }
    
    
  
  
  </script>
  </body>
</html>
