<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
  <title></title>
</head>

<body>  
  {% csrf_token %}
    
  <div id='editor_holder'></div>
  <button id='submit'>Submit Authorization</button>
  <script>
    const element = document.getElementById('editor_holder');
    var options = {
      schema: {
        type: "object",
        title: "Authorization",
        properties: {
          access_token: {
            type: "string",
            default:"ya29.a0AfH6SMDfhJ_7lXxR5bHYVoTzGLegZik_PNKs13GFJFiWZjjBwvH8LnmmuuFHay4-wOr5IkY--4oZUkiitSXmEfv2qWc0QYTBWMZ7Gh8sRUKmsLnejNl17gT5I09m8qCHoJETrysKV2tpRNX67XaEPGtq_KwbchT09k1IIqtdGs8"
          },
          developer_token: {
            type: "string",
            default:"E_DwdtVLTE8O9QDjLswapw"
          },
          client_customer_id:{
            type:"integer",
            default:265-892-4533
          },
          conversion_value:{
            type:"integer",
            default:0
          },
          client_id:{
            type:"string",
            default:"738515646775-udh4tnn0agia9msd0a1qp9c8okogrljs.apps.googleusercontent.com"
          },
          client_secret:{
            type:"string",
            default:"elpwppZFSYt179kvRrVRVFqa"
          },
          refresh_token:{
            type:"string",
            default:"1//06BxfaHV9fQVWCgYIARAAGAYSNwF-L9Irj09QGYWH4JBNxTO-YTxeqrxQqnCgYzwrK0Z81OuOy54q5HdQaj0MFqNapK0ylH7dDF0"
          },
        }
      }
    }

    const editor = new JSONEditor(element, options);
    document.getElementById('submit').addEventListener('click',function() {
      console.log(editor.getValue());
    });   
  </script>
  
</body>
</html>