<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <title>urlshortner</title>
</head>

<body>

  <h1 class="text-center my-5">Url shortner</h1>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <form action="/search" method="POST">
        {% csrf_token %}
          <div class="form-group">
            <label for="url"> Short URL</label>
            <input type="text" class="form-control" name="shortnerurl" id="shortnerurl"  placeholder="Enter shortrl">
            
          </div>
          <p>
          <p>
          <input type="submit" class="btn btn-primary" value="Search">
          <br>
          <br>
          {% if obj %}
          <input type="text" class="form-control" name='url' value="{{obj}}">
          {% endif %}
        </form>
        <a href="/">Create short Url</a>
        <br><br>
        <h2>{{msg}}</h2>
      </div>
    </div>
  </div>

</body>

</html>
